*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  background-color: #111;
  font-family:
    system-ui,
    -apple-system,
    "Segoe UI";
}

header {
  text-align: center;
  padding: 1rem;
}
